*
{
    margin:0px;
    padding:0px;
}

html
{
	width:100%;
	height:100%;
}

body
{
	width:100%;
	height:100%;
}



.heading{

color:#BBB;	
padding:15px;
padding-bottom:5px;
font-family:"Raleway";
font-size:42px;
border-bottom:thin solid #333 1px;
}

#main-container
{
	min-width:100%;
	min-height:100%;   
	padding: 0 15px;
	background:url(../img/bg.png);
}
#menu
{
	position:fixed;
	width:100%;
	color:#666;
	line-height:80px;
background-image:url(../img/menu-bg.png);
box-shadow:0px 0px 5px rgba(0,0,0,0.8);
z-index:10;
}

#menu div
{
	text-align:center;
	cursor:pointer;
	font-family: 'Open Sans', cursive;
	font-weight:lighter;
	transition: all 0.5s;
    -webkit-transition: all 0.5s; 
}

#menu div:hover
{

background-color:rgba(0,0,0,0.1);
	
}

#logo
{
	text-align:center;
}

#home
{
	width:100%;
	height:100%;
}

section
{
padding-top:50px;	
}

#home .jumbotron
{
	font-family:"Open Sans",tahoma,sans-serif;
	font-wight:100;
	font-size:40px;
	position:relative;
	height:375px;
	color:#FFF;
	background-color:rgba(0,0,0,0.3);
	background-image:url(../img/TPA.jpg);
	background-size:cover;
	background-position:center;
	padding:10px;
	padding-top:50px;
}

#home .jumbotron .container
{
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.4);
	text-align:center;
	padding-top:80px;
}

#home .jumbotron h1
{
	text-align:left;
	font-family: 'Raleway';
	font-wight:100;
	color:rgba(255,255,255,0.8);
}













#home
{
	width:100%;
	height:100%;
}

